.square {
    width: 100px;
    height: 100px;
    border: 2px solid #eee;
    border-radius: 5px;
    display: grid;
    place-items: center;
    cursor: pointer;
    span {
        display: block;
        position: relative;
        width: 70%;
        height: 70%;
        border-radius: 50%;
        border: 8px solid transparent;
        &.X::after,
        &.X::before {
            position: absolute;
            content: "";
            width: 150%;
            height: 8px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            background: #0eaca9;
            border-radius: 5px;
        }

        &.X::after {
            transform: translate(-50%, -50%) rotate(45deg);
            opacity: 1;
        }

        &.O {
            border-color: #ff2e3f;
        }
    }
}

@media (min-width: 768px) {
    .square{
        width: 200px;
        height: 200px;
        span{
            &.X::before {
                border: 6px solid transparent;
            }
            &.X::after {
                border: 6px solid transparent;
            }
            border: 16px solid transparent;
        }
    }
}
  