
.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.911);
  }
  
  .result-message {
    font-size: 7rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: #fff;
  }


  // Firework  styles
  $particles: 200;
  $width: 700;
  $height: 700;
  
  $box-shadow: ();
  $box-shadow2: ();
  @for $i from 0 through $particles {
    $box-shadow: $box-shadow,
                 random($width)-$width / 2 + px
                 random($height)-$height / 1.2 + px
                 hsl(random(360), 100, 50);
    $box-shadow2: $box-shadow2, 0 0 #fff
  }
  @mixin keyframes ($animationName) {
      @-webkit-keyframes #{$animationName} {
          @content;
      }
  
      @-moz-keyframes #{$animationName} {
          @content;
      }
  
      @-o-keyframes #{$animationName} {
          @content;
      }
  
      @-ms-keyframes #{$animationName} {
          @content;
      }
  
      @keyframes #{$animationName} {
          @content;
      }
  }
  
  @mixin animation-delay ($settings) {
      -moz-animation-delay: $settings;
      -webkit-animation-delay: $settings;
      -o-animation-delay: $settings;
      -ms-animation-delay: $settings;
      animation-delay: $settings;
  }
  
  @mixin animation-duration ($settings) {
      -moz-animation-duration: $settings;
      -webkit-animation-duration: $settings;
      -o-animation-duration: $settings;
      -ms-animation-duration: $settings;
      animation-duration: $settings;
  }
  
  @mixin animation ($settings) {
      -moz-animation: $settings;
      -webkit-animation: $settings;
      -o-animation: $settings;
      -ms-animation: $settings;
      animation: $settings;
  }
  
  @mixin transform ($settings) {
      transform: $settings;
      -moz-transform: $settings;
      -webkit-transform: $settings;
      -o-transform: $settings;
      -ms-transform: $settings;
  }
  
  body {
    margin:0;
    padding:0;
    overflow: hidden;
  }
  
  .pyro > .before, .pyro > .after {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    box-shadow: $box-shadow2;
    @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
  }
      
  .pyro > .after {
    @include animation-delay((1.25s, 1.25s, 1.25s));
    @include animation-duration((1.25s, 1.25s, 6.25s));
  }
          
  @include keyframes(bang) {
    to {
      box-shadow:$box-shadow;
    }
  }
      
  @include keyframes(gravity)  {
    to {
      @include transform(translateY(200px));
      opacity: 0;
    }
  }
      
  @include keyframes(position) {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {  
      margin-top: 20%;
      margin-left: 70%
    }
    60%, 79.9% {  
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {  
      margin-top: 30%;
      margin-left: 80%;
    }
  }

  // Sad face  styles

  .container{
    margin: auto;
    position: absolute;
    top: 30%; left: 50%;
    transform: translate(-50%,-50%);
  }
  
  p{
    text-align:Center;
    font-family: 'Fredoka One', cursive;
    color:#3498db;
    font-size:30px;
    padding:10px;
  }
  
  .face{
    width:150px;
    height:150px;
    border: 9px solid #fdfdfd;
    border-radius:50%;
    animation: face 7s infinite;
    position:relative;
    z-index:9999;
  }
  
  
  .mouth{
    height:10px;
    width:35px;
    margin: 0 auto;
    margin-top: 15px;
    background-color:#bdc3c7;
    animation: mouth 7s infinite;
    animation-delay:2s;
  }
  
  .tear{
    position:absolute;
    background-color: #3498db;
    height:0px;
    width:45px;
    top:62px;
    left:29px;
    border-bottom-left-radius:50%;
    animation: tear 7s infinite;
    animation-delay:2s;
  }
  
  .tear2{
    position:absolute;
    background-color: #3498db;
    height:0px;
    width:45px;
    top:62px;
    left:98px;
    border-bottom-right-radius:50%;
    animation: tear 7s infinite;
    animation-delay:2s;
  }
  
  .eye{
    height:10px;
    width:45px;
    background-color:#bdc3c7;
    display:inline-block;
    margin-left:20px;
    margin-top:20px;
    animation: cry 7s infinite;
    animation-delay:2s;
  }
  
  .eyebrow{
    width:30px;
    font-size:40px;
    font-weight:bold;
    color:#bdc3c7;
    display:inline-block;
    margin-left:27px;
    margin-top: 10px;
    opacity:0;
    animation: eyebrow 7s infinite;
    animation-delay:2s;
  }
  
  .eyebrow:nth-child(1){
    transform:rotate(-20deg);
  }
  
  .eyebrow:nth-child(2){
    transform:rotate(20deg);
  }
  
  @keyframes mouth{
    10%{height:30px;width:25px; border:6px solid black;border-radius:50%;margin-top:-8px;}
    50%{height:30px;width:25px; border:6px solid black;border-radius:50%;margin-top:-8px;}
    60%{height:10px;width:35px;border-radius:0%;border:none;margin-top:15px;}
  }
  
  @keyframes cry{
    10%{transform:translateY(-34px);background-color:rgb(255, 255, 255);}
    50%{transform:translateY(-34px);background-color:rgb(255, 255, 255);}
    60%{background-color:#bdc3c7;transform:translateY(0px);}
  }
  
  @keyframes eyebrow{
    10%{opacity:1;color:rgb(255, 255, 255);}
    50%{opacity:1;color:rgb(255, 255, 255);}
    60%{opacity:0;}
  }
  
  @keyframes face{
    10%{border-color:rgb(255, 255, 255);}
    50%{border-color:rgb(255, 255, 255);}
    60%{border-color:#bdc3c7;}
  }
  
  @keyframes tear{
    10%{height:96px;}
    50%{height:96px;}
    52%{height:0px;}
  }