body {
  justify-content: center;
  align-items: center;
  background: #222;
  font-family: consolas;
  box-sizing: border-box;
}

.tic-tac-toe {
  width: fit-content;
  margin: 40px auto;
  text-align: center;
}

.title {
  font-weight: 600;
  color: #fff;
}

.board {
  display: grid;
  width: fit-content;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
  margin: auto;
  max-width: 500px;
  background-color: #222;
}
