body {
  justify-content: center;
  align-items: center;
  background: #222;
  font-family: consolas;
  box-sizing: border-box;
}

.game {
  width: fit-content;
  margin: 40px auto;
  text-align: center;
}

.game button {
  padding: 8px 12px;
  margin: 25px;
  background: transparent;
  border: 2px solid #eee;
  color: #eee;
  max-width: 400px;
  border-radius: 5px;
  transition: 0.2s;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}

.game h2 {
  font-weight: 600;
  color: #fff;
}

.board {
  display: grid;
  width: fit-content;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
  margin: auto;
  max-width: 500px;
  background-color: #222;
}
